<div id="w-node-_4675fd23-dee2-5d58-08f2-0c355131dad1-cf183f2b" data-current="Tab 3" data-easing="ease"
  data-duration-in="300" data-duration-out="100" class="section-1_tabs w-tabs">
  <div id="w-node-_4675fd23-dee2-5d58-08f2-0c355131dad2-cf183f2b" class="tabs_menu cc-menu-section-1 w-tab-menu"
    role="tablist"><a data-w-tab="Tab 1" class="tabs_tab-link-purple cc-links-section-1 w-inline-block w-tab-link"
      id="w-tabs-0-data-w-tab-0" href="#w-tabs-0-data-w-pane-0" role="tab" aria-controls="w-tabs-0-data-w-pane-0"
      aria-selected="false" tabindex="-1">
      <div>Manage your day</div>
      <div class="tabs_tab-link-grey-border">
        <div class="tabs_tab-link-accent-border cc-purple"></div>
      </div>
    </a><a data-w-tab="Tab 2" class="tabs_tab-link-purple cc-links-section-1 w-inline-block w-tab-link w--current"
      id="w-tabs-0-data-w-tab-1" href="#w-tabs-0-data-w-pane-1" role="tab" aria-controls="w-tabs-0-data-w-pane-1"
      aria-selected="true">
      <div>Work with your team</div>
      <div class="tabs_tab-link-grey-border">
        <div class="tabs_tab-link-accent-border cc-purple"></div>
      </div>
    </a><a data-w-tab="Tab 3" class="tabs_tab-link-purple cc-links-section-1 w-inline-block w-tab-link"
      id="w-tabs-0-data-w-tab-2" href="#w-tabs-0-data-w-pane-2" role="tab" aria-controls="w-tabs-0-data-w-pane-2"
      aria-selected="false" tabindex="-1">
      <div>Plan a family vacation</div>
      <div class="tabs_tab-link-grey-border">
        <div class="tabs_tab-link-accent-border cc-purple"></div>
      </div>
    </a></div>
  <div id="tabs-content-1" class="tabs_content w-node-_4675fd23-dee2-5d58-08f2-0c355131dadc-cf183f2b w-tab-content">
    <div data-w-tab="Tab 1" class="section-1_tab-pane w-tab-pane" id="w-tabs-0-data-w-pane-0" role="tabpanel"
      aria-labelledby="w-tabs-0-data-w-tab-0" style="">
      <div class="pane-wrapper"><img
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, 20vw"
          srcset="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628813e882360fc152113c1d_62796bddaf96f13172a81fed_asset1-p-500.jpeg 500w, https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628813e882360fc152113c1d_62796bddaf96f13172a81fed_asset1-p-800.jpeg 800w, https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628813e882360fc152113c1d_62796bddaf96f13172a81fed_asset1-p-1080.jpeg 1080w, https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628813e882360fc152113c1d_62796bddaf96f13172a81fed_asset1-p-1600.jpeg 1600w, https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628813e882360fc152113c1d_62796bddaf96f13172a81fed_asset1-p-2000.jpeg 2000w, https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628813e882360fc152113c1d_62796bddaf96f13172a81fed_asset1.jpg 2560w"
          src="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628813e882360fc152113c1d_62796bddaf96f13172a81fed_asset1.jpg"
          loading="eager" alt="" class="pane-image">
        <div
          data-poster-url="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd444f8f1e8b4fa648677_Group By List - Screen-poster-00001.jpg"
          data-video-urls="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd444f8f1e8b4fa648677_Group By List - Screen-transcode.mp4,https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd444f8f1e8b4fa648677_Group By List - Screen-transcode.webm"
          data-autoplay="true" data-loop="true" data-wf-ignore="true" data-beta-bgvideo-upgrade="false"
          class="pane-video w-background-video w-background-video-atom"><video
            id="b12b2e59-111d-caca-e3ab-03a4e02744b4-video" autoplay="" loop=""
            style="background-image:url(&quot;https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd444f8f1e8b4fa648677_Group By List - Screen-poster-00001.jpg&quot;)"
            muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover" __idm_id__="49163">
            <source
              src="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd444f8f1e8b4fa648677_Group By List - Screen-transcode.mp4"
              data-wf-ignore="true">
            <source
              src="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd444f8f1e8b4fa648677_Group By List - Screen-transcode.webm"
              data-wf-ignore="true">
          </video></div>
      </div>
    </div>
    <div data-w-tab="Tab 2" class="section-1_tab-pane w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-1"
      role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-1" style="opacity: 1; transition: opacity 300ms ease 0s;">
      <div class="pane-wrapper"><img
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, 20vw"
          srcset="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628814052cc6d5e89e270caa_62796c088de72a038816a06e_asset2-p-500.jpeg 500w, https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628814052cc6d5e89e270caa_62796c088de72a038816a06e_asset2-p-800.jpeg 800w, https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628814052cc6d5e89e270caa_62796c088de72a038816a06e_asset2-p-1080.jpeg 1080w, https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628814052cc6d5e89e270caa_62796c088de72a038816a06e_asset2-p-1600.jpeg 1600w, https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628814052cc6d5e89e270caa_62796c088de72a038816a06e_asset2-p-2000.jpeg 2000w, https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628814052cc6d5e89e270caa_62796c088de72a038816a06e_asset2.jpg 2560w"
          src="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628814052cc6d5e89e270caa_62796c088de72a038816a06e_asset2.jpg"
          loading="eager" alt="" class="pane-image">
        <div
          data-poster-url="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd4a3651803a981039747_Assign To - Screen-poster-00001.jpg"
          data-video-urls="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd4a3651803a981039747_Assign To - Screen-transcode.mp4,https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd4a3651803a981039747_Assign To - Screen-transcode.webm"
          data-autoplay="true" data-loop="true" data-wf-ignore="true" data-beta-bgvideo-upgrade="false"
          class="pane-video w-background-video w-background-video-atom"><video
            id="b13d3ef2-a4ac-fa2a-f66e-6bd1c6b0c995-video" autoplay="" loop=""
            style="background-image:url(&quot;https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd4a3651803a981039747_Assign To - Screen-poster-00001.jpg&quot;)"
            muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover" __idm_id__="49164">
            <source
              src="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd4a3651803a981039747_Assign To - Screen-transcode.mp4"
              data-wf-ignore="true">
            <source
              src="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd4a3651803a981039747_Assign To - Screen-transcode.webm"
              data-wf-ignore="true">
          </video></div>
      </div>
    </div>
    <div data-w-tab="Tab 3" class="section-1_tab-pane w-tab-pane" id="w-tabs-0-data-w-pane-2" role="tabpanel"
      aria-labelledby="w-tabs-0-data-w-tab-2" style="">
      <div class="pane-wrapper"><img
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, 20vw"
          srcset="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/62881415ef00faa144965956_62757456b027dc46e5c0eecd_3-p-500.jpeg 500w, https://global-uploads.webflow.com/625593a881b8ebd169835ca5/62881415ef00faa144965956_62757456b027dc46e5c0eecd_3-p-800.jpeg 800w, https://global-uploads.webflow.com/625593a881b8ebd169835ca5/62881415ef00faa144965956_62757456b027dc46e5c0eecd_3-p-1080.jpeg 1080w, https://global-uploads.webflow.com/625593a881b8ebd169835ca5/62881415ef00faa144965956_62757456b027dc46e5c0eecd_3.jpg 1920w"
          src="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/62881415ef00faa144965956_62757456b027dc46e5c0eecd_3.jpg"
          loading="eager" alt="" class="pane-image">
        <div
          data-poster-url="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd51661a07cf1eb23a7db_Family Vacation - Screen-poster-00001.jpg"
          data-video-urls="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd51661a07cf1eb23a7db_Family Vacation - Screen-transcode.mp4,https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd51661a07cf1eb23a7db_Family Vacation - Screen-transcode.webm"
          data-autoplay="true" data-loop="true" data-wf-ignore="true" data-beta-bgvideo-upgrade="false"
          class="pane-video w-background-video w-background-video-atom"><video
            id="026c1938-48a6-3c48-863f-29bb063799f3-video" autoplay="" loop=""
            style="background-image:url(&quot;https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd51661a07cf1eb23a7db_Family Vacation - Screen-poster-00001.jpg&quot;)"
            muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover" __idm_id__="49165">
            <source
              src="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd51661a07cf1eb23a7db_Family Vacation - Screen-transcode.mp4"
              data-wf-ignore="true">
            <source
              src="https://global-uploads.webflow.com/625593a881b8ebd169835ca5/628cd51661a07cf1eb23a7db_Family Vacation - Screen-transcode.webm"
              data-wf-ignore="true">
          </video></div>
      </div>
    </div>
  </div>
</div>